@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@media (max-width: 900px) {
  /* body {
    background-color: rgb(93, 0, 255);
  } */
  .hero img {
    display: none;
  }

  .titulo {
    margin: 0px;
    height: 72px;
  }

  .button-login button {
    display: none;
  }

  .barra-pesquisa input {
    width: 116%;
  }

  .logo-titulo {
    margin-left: -10%;
    width: 55%;
  }

  .titulo-star p {
    display: none;
  }

  .titulo-star h1 {
    display: none;
  }

  .titulo-star img {
    display: none;
  }

  .produtos {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    justify-content: center;
  }

  .p {
    display: none;
  }

  .titulo-console h1 {
    display: none;
  }

  .titulo-console img {
    display: none;
  }

  .produtos2 {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    justify-content: center;
    margin-top: -4%;
  }

  .titulo-diversos h1 {
    display: none;
  }

  .titulo-diversos img {
    display: none;
  }
  .produtos3 {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    justify-content: center;
    margin-top: -4%;
  }
  .roda-pe {
    display: flex;
    width: 111%;
    margin-left: -8px;
  }
  .sub-texto {
    width: 202px;
    font-size: 16px;
    margin-left: -21%;
    margin-top: 74px;
  }

  .titulo1 {
    margin-top: 28px;
  }
  .input {
    margin-top: 65px;
  }

  .input1 {
    margin-top: 129px;
  }

  .buttun button {
    margin-top: 215px;
  }

  .logo-rodape {
    width: 182px;
    height: 50px;
    margin-left: 28px;
    margin-top: 34px;
  }
  .rodape p {
    display: flex;
    width: 99%;
  }
  .rodape span {
    display: flex;
    width: 99%;
  }
}
